<!DOCTYPE html>
<html>
<head>
	<title>Book A Meal</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="C:\Users\User\Documents\projects\Book A Meal\ui\Static\style.css">
<head>	<div class="login-page">
		<div class="form">
			<img src="C:\Users\User\Documents\projects\Book A Meal\ui\avatar.png.png" class="avatar">
			<form class="register-form">
				<input type="text" placeholder="user name">
				<input type="text" placeholder="email address">
				<input type="text" placeholder="password" >
				<button>Sign up</button>
				<p class="message">Already Registered? <a href="#">Login</a></p>
			</form>
			
		</div>
	</div>
	
<body>

</body>
</html>